<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--
            必须属性 用户名和密码按照实际的来配置
        -->
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.url">jdbc:gbase://localhost:5258/demo</property>
        <property name="connection.driver_class">com.gbase.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- 常用属性  -->
        <property name="show_sql">true</property>
        <!--
                <property name="format_sql">true</property>
        -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 将学生类 映射的xml加入到配置文件 -->
        <mapping class="yueshow.MyEntity"/>
    </session-factory>
</hibernate-configuration>